<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectxy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectXY">
        <activity android:name=".About_us"></activity>
        <activity android:name=".DAL_PROB" />
        <activity android:name=".PHEN_PROB" />
        <activity android:name=".HYP_PROB" />
        <activity android:name=".SICKLE_PROB" />
        <activity android:name=".HEM_PROB" />
        <activity android:name=".Itog_desease" />
        <activity android:name=".likehood_of_desease" />
        <activity android:name=".Activityaboutus" />
        <activity android:name=".MainActivit" />
        <activity android:name=".Blood" />
        <activity android:name=".settings" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>